__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
*.DS_Store

.git
.gitignore

venv
.env

*.csv
*.xlsx
*.json
*.pkl
Results
merged_reviews
Архив
Изначальные json
An_models_predictions
product_analysis
light_model
light_model2

.vscode
.idea

